---
import Container from "@components/Container.astro";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";

const eagerLoadCount = 3;

---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <section class="flex-col justify-center items-center mx-auto">
      <h1 class="mb-4 mx-0 text-lg font-semibold underline decoration-double underline-offset-4">My Astro Learning Blog</h1>
      <p>This is where I will post about my journey learning Astro.</p>
      <ul>
        {
          allPosts.map((post, index) => (
            <>
              <Image
                src={post.data.cover}
                width={1024}
                alt={post.data.coverAlt}
                loading={index < eagerLoadCount ? "eager" : "lazy"}
              />
              <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
            </>
          ))
        }
      </ul>
    </section>
  </Container>
</BaseLayout>
