---
import BaseLayout from "./BaseLayout.astro";
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import "@styles/copyCode.css";
const { frontmatter } = Astro.props;
---

<script>
  import copyCode from "@utils/CopyCode.mjs";
  copyCode();
</script>
<BaseLayout pageTitle={frontmatter.title}>
  <Container>
    <article class="prose prose-lg dark:prose-invert prose-headings:text-primary prose-a:text-primary max-w-3xl mx-auto">
      <div class="not-prose mb-8">
        <h1 class=" mb-4 mx-0 text-lg font-semibold underline decoration-double underline-offset-4">{frontmatter.title}</h1>
        <div class="flex gap-4 text-sm">
          <p>Written by {frontmatter.author}</p>
          <p>Published on: {frontmatter.pubDate.toString().slice(4, 15)}</p>
        </div>
        {frontmatter.tags && (
          <div class="flex gap-2 mt-2">
            {frontmatter.tags.map((tag) => (
              <a
            href={`/tags/${tag}`}
            class="px-1 py-1 text-sm rounded-sm text-primary hover:text-primary-content border border-primary hover:bg-primary transition-colors w-fit"
          >#{tag}</a>
            ))}
          </div>
        )}
      </div>

      <slot />
    </article>
  </Container>
</BaseLayout>